<header id="header">
  <a class="home-link" href="/">
    <img class="logo" src="../../assets/favicon.ico" alt="myNg">
  </a>
  <div class="header-text">
        <div class="left">
          <h1 class="name">
              <a routerLink="/home" class="app-title">Angular 2 Most Beautiful Woman In The World</a>
          </h1>
          <span class="header-nav">
        <a routerLink="/foryou">4U❤</a>
      </span>
        </div>
        <div class="info">
          Created with <a href="https://cli.angular.io" target="_blank">Angular CLI</a>
        </div>
  </div>
</header>
