<div id="footer">
        <p>Contribute with ❤ in
          <a href="https://github.com/angular/angular/blob/4106d181724567decde3a0a5288d09db34378f35/CONTRIBUTING.md" target="_blank">
            Angular
         </a>
         and
           <a href="https://github.com/angular/angular-cli/blob/b3ef6a4040e0972ad07464d81ce9b547dce79fe8/CONTRIBUTING.md" target="_blank">
             Angular CLI
          </a>
          read our documentation
          <a href="https://angular.io" target="_blank">here</a>
          get code on
          <a href="https://github.com/NilsHolger/ng2-mymuse" target="_blank">Github</a>
        </p>
</div>
